
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Loading...</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <!--Stylesheet for logins-->
  <link href="css/stylesheet.css" rel="stylesheet">
  <!-- link for css font Ubuntu is good and so is Roboto -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:light' rel='stylesheet' type='text/css'>
  <style>
    body{
      font-family: 'Roboto', serif;
    }
    a{
      color: #039BE5;
      font-family: 'Roboto', serif;
    }
    a:hover{
      color: #039BE5;
      font-weight: bold;
    }
  </style>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/login_register.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <script type="text/javascript">
  </script>
</head>
<body id="page-top" data-spy="scroll">
  <!-- line 4356 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">#TiM</a>
        </div>
        <div class="collapse navbar-collapse navbar-center navbar-main-collapse">
          <ul class="nav navbar-nav navbar-center">
            <li><a href = "#">Journals</a></li>
            <li class = "dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">#Trends
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/trends?topic=surgery">Surgery</a></li>
                  <li><a href="/trends?topic=oncology">Oncology</a></li>
                  <li><a href="/trends?topic=cardiology">Cardiology</a></li>
                </ul>
              </li>
              <li><a href = "/#team"> Team </a></li>
            </ul>
            <ul class = "nav navbar-nav navbar-right">
              <li><a href="#" data-toggle="modal" onclick="openRegisterModal();"><span class = "glyphicon glyphicon-user"></span>  Sign Up</a></li>
              <li><a href="#" data-toggle="modal" onclick="openLoginModal();"><span class = "glyphicon glyphicon-log-in"></span>  Log In</a></li>
            </ul>
          </div>
      </div>
      <div class="row">
        <div class="container">
          <!-- <p id="month" class="navbar-center">June</p> -->
          <div "navbar-header" style="display: block;">
            <a id="prevMonth" href="#" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-chevron-left"></span>
              Previous Month
            </a>
            <a id="nextMonth" href="#" class="navbar-right btn btn-info btn-lg">
              Next Month
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Login/Signup Modal -->
    <div class="modal fade login" id="loginModal">
      <div class="modal-dialog login animated">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <div class="box">
              <div class="content">
                <div class="error"></div>
                <div class="form loginBox">
                  <form method="" action="" accept-charset="UTF-8">
                    <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                    <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                  </form>
                </div>
              </div>
            </div>
            <div class="box" >
              <div class="content registerBox" style="display:none;">
                <div class="form">
                  <form id="myForm" method="get" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8">
                    <input id="name" class="form-control" type="text" placeholder="Name" name="name">
                    <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                    <input id="password" class="form-control" type="password" placeholder="Password" name="password" aria-describedby="passwordHelpBlock">
                    <p id="passwordHelpBlock" class="form-text text-muted">
                      Your password must be 6-20 characters long.
                    </p>
                    <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                    <input id="createacc" class="btn btn-default btn-register" type="submit" value="Create account" onclick="return validateForm();" name="commit">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="forgot login-footer">
              <span>Looking to <a style="color: #337ab7;" href="javascript: showRegisterForm();">create an account?</a></span>
            </div>
            <div class="forgot register-footer" style="display:none">
              <span>Already have an account?</span>
              <a style="color: #337ab7;" href="javascript: showLoginForm();">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "container" style = "margin-top:100px; margin-bottom:100px;">
    <div id = "boshal">
    </div>
    <div id="topPhrases" style="">
    </div>
    <ul>
      {{words}}
    </ul>
    <hr>
    <footer>
      <p>&copy; 2017 TrendinginMedicine.</p>
    </footer>
  </div>
  <!-- band and footer -->
  <!-- end of band and footer-->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
  <script src="js/bootstrap.min.js"></script>
  <!-- javascript urlParams -->
  <script type="text/javascript">
    var io = io().connect();
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    var urlParams = new URLSearchParams(window.location.search);
    // console.log(urlParams.get('topic'));
    var s = urlParams.get('topic');
    var database = urlParams.get('db')
    if (database == null){
      var d = new Date();
      var month = d.getMonth() + 1;
      var year = d.getFullYear();
      if (month == 12) {
        nextMonth = 1
      }
      else {
        nextMonth = month + 1
        if (nextMonth < 10) {
          nextMonth = "0" + nextMonth
        }
      }
      console.log(nextMonth);
      if (month == 1) {
        prevMonth = 12
      }
      else {
        prevMonth = month - 1
        if (prevMonth < 10) {
          prevMonth = "0" + prevMonth
        }
      }
      console.log(prevMonth);
      if (month < 10) {
        month = "0" + month;
      }
      database = s.toLowerCase() + month + "-"  + year;

      document.getElementById("prevMonth").href = "/trends?topic=" + s.toLowerCase() +"&db=" + s.toLowerCase() + prevMonth + "-"  + year
      document.getElementById("nextMonth").href = "/trends?topic=" + s.toLowerCase() +"&db=" + s.toLowerCase() + nextMonth + "-"  + year

      console.log(database);
    }
    else{
      var month = parseInt(database.substring(database.indexOf(s) + s.length, database.indexOf("-")));
      var year = parseInt(database.substring(database.indexOf("-") + 1));
      if (month == 12) {
        nextMonth = 1
      }
      else {
        nextMonth = month + 1
        if (nextMonth < 10) {
          nextMonth = "0" + nextMonth
        }
      }
      console.log(nextMonth);
      if (month == 1) {
        prevMonth = 12
      }
      else {
        prevMonth = month - 1
        if (prevMonth < 10) {
          prevMonth = "0" + prevMonth
        }
      }
      console.log(prevMonth);
      document.getElementById("prevMonth").href = "/trends?topic=" + s.toLowerCase() +"&db=" + s.toLowerCase() + prevMonth + "-"  + year
      document.getElementById("nextMonth").href = "/trends?topic=" + s.toLowerCase() +"&db=" + s.toLowerCase() + nextMonth + "-"  + year

      console.log(month);
      console.log(year);
    }
    if (s == null) {
      s = "Medicine";
    }
    else {
      var s = s[0].toUpperCase() + s.slice(1) + " - " + months[month-1];
      var myDiv = document.getElementById('boshal');
      var h1 = document.createElement("h1");
      var t = document.createTextNode(s);
      h1.appendChild(t);
      myDiv.appendChild(h1);
    }
    io.emit("requestDB", {database:database});
    io.on("sendDB", function(data){
      var phraseToArticles = [];
      for (var phrase in data.phraseToArticles) {
          phraseToArticles.push([phrase, data.phraseToArticles[phrase]]);
      }
      phraseToArticles.sort(function(a, b) {
          return b[1].length - a[1].length;
      })
      // console.log(phraseToArticles);
      displayContent(phraseToArticles);
    });
    function displayContent(phraseToArticles){
      var myDiv = document.getElementById("topPhrases");
      for (var i = 0; i < phraseToArticles.length; i++) {
        phrase = phraseToArticles[i][0];
        var str = phrase.split(" ");
        console.log(str);
        for(var k = 0; k < str.length; k++)
        {
          str[k] = str[k].charAt(0).toUpperCase() + str[k].substring(1);
        }
        phrase = str.join("");
        phrase = "#" + phrase;
        var term = document.createElement("h3");
        var t = document.createTextNode(phrase);
        term.appendChild(t);
        myDiv.appendChild(term);
        articles = phraseToArticles[i][1]
        for (var j = 0; j < articles.length; j++) {

          var article = document.createElement("a");
          var ref  = articles[j].substring(articles[j].indexOf("https:"), articles[j].length);
          // console.log(ref);
          article.setAttribute('href', ref);
          var t = document.createTextNode(articles[j]);
          article.appendChild(t);
          if (j <= 5){
            myDiv.appendChild(article);
            myDiv.appendChild(document.createElement("br"));
            myDiv.appendChild(document.createElement("br"));
          }
          if (j == 5){
            var read = document.createElement("a");
            var rt = document.createTextNode("View more");
            read.style.align = "center"
            read.appendChild(rt);
            read.setAttribute('class', "read_more");
            myDiv.appendChild(read);
          }
        }
      }
    }
    document.title = "#TrendingIn" + s;
  </script>
  <!-- javascript urlParams -->
</body>
</html>
